<div class="section-container">
    <span class="col">
        <label for="category" class="mr-2">Build:</label>
        <select name="category">
            <option value="Action">Build01</option>
            <option value="Fiction">Build02</option>
            <option value="Comedy">Build03</option>
        </select>
    </span>
    <span class="col">
        <label for="category" class="mr-2">Release:</label>
        <select name="category">
            <option value="Action">Release01</option>
            <option value="Fiction">Release02</option>
            <option value="Comedy">Release03</option>
        </select>
    </span>
    <span class="col">
        <label for="category" class="mr-2">Status:</label>
        <select name="category">
            <option value="Action">PASS</option>
            <option value="Fiction">FAIL</option>
            <option value="Comedy">PASSWITHWARNING</option>
        </select>
    </span>
</div>