<div class="section-container">
    <span class="col">
        <label for="category" class="mr-2">Product:</label>
        <select name="category">
            <option value="Action">Inventor</option>
            <option value="Fiction">Vault</option>
            <option value="Comedy">Factory</option>
        </select>
    </span>
    <span class="col">
        <label for="category" class="mr-2">Release:</label>
        <select name="category">
            <option value="Action">Release01</option>
            <option value="Fiction">Release02</option>
            <option value="Comedy">Release03</option>
        </select>
    </span>
    <span class="col">
        <label for="category" class="mr-2">Branch:</label>
        <select name="category">
            <option value="Action">Branch1</option>
            <option value="Fiction">Branch2</option>
            <option value="Comedy">Branch3</option>
        </select>
    </span>
</div>