<div class="mav mav-pills flex-column">
    <div class="nav-item" style="font:caption;color:black">
        Current Running Test Jobs
    </div>
<br/><br/>
    <div class="nav-item">
        <a href="http://10.148.252.112/AutodeskAFWebApp/Project/Detail/151565" target=”_blank”>
            Project - Vault_Hotfix_#100
        </a>
    </div><br/>
    <div>
        <a href="http://10.148.252.112/AutodeskAFWebApp/Project/Detail/8" target=”_blank”>
            Project - Inventor2017_Triage_#M21_10
        </a>
    </div><br/>
    <div>
        <a href="http://10.148.252.112/AutodeskAFWebApp/Project/Detail/4" target=”_blank”>
            Project - SIM
        </a>
    </div><br/>
    <div>
        <a href="http://10.148.252.112/AutodeskAFWebApp/Project/Detail/151566" target=”_blank”>
            Project - Vault_Hotfix_#10
        </a>
    </div><br/>
    <div>
        <a href="http://10.148.252.112/AutodeskAFWebApp/Project/Detail/151568" target=”_blank”>
            Project - OEMAutomation
        </a>
    </div>
</div>