<div class="section-container">
    <h2 class = "section-header">
        Inventor
    </h2>
    <div class="cards">
        <div class="card-deck mb-4">
            <div class="card card-theme">
                <div class="card-header">Performance</div>
                <div class="card-body-theme">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </div>
        <div class="card-deck mb-4">
            <div class="card card-theme">
                <div class="card-header">Build01</div>
                <div class="card-body-theme">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="card card-theme">
                <div class="card-header">Pass Rate
                </div>
                <div class="card-body-theme">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
        <div class="card-deck mb-4">
            <div class="card card-theme">
                <div class="card-header">Build02</div>
                <div class="card-body-theme">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="card card-theme">
                <div class="card-header">Pass Rate</div>
                <div class="card-body-theme">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
        <div class="card-deck mb-4">
            <div class="card card-theme">
                <div class="card-header">Build03</div>
                <div class="card-body-theme">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="card card-theme">
                <div class="card-header">Pass Rate</div>
                <div class="card-body-theme">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
    </div>
</div>
