<div class="section-container">
    <h2 class = "section-header">
        Overall status
    </h2>
    <div class="cards">
        <div class="card-deck mb-4">
            <div class="card card-theme">
                <div class="card-header">Inventor</div>
                <div class="card-body-theme">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </div>
        <div class="card-deck mb-4">
            <div class="card card-theme">
                <div class="card-header">Vault</div>
                <div class="card-body-theme">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </div>
        <div class="card-deck mb-4">
            <div class="card card-theme">
                <div class="card-header">Factory</div>
                <div class="card-body-theme">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </div>
        <h2 class = "section-header">
            Branch status
        </h2>
        <div class="card-deck mb-4">
            <div class="card card-theme">
                <div class="card-header">Running Time</div>
                <div class="card-body-theme">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="card card-theme">
                <div class="card-header">Pass Rate
                </div>
                <div class="card-body-theme">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
        <div class="card-deck mb-4">
            <div class="card card-theme">
                <div class="card-header">Product quality?</div>
                <div class="card-body-theme">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="card card-theme">
                <div class="card-header">Running schedule</div>
                <div class="card-body-theme">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>
