*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(190, 219, 233);
    color: #f7fff7;
    height: 100%;
}

.shadow {
    box-shadow: 0 8px 12px rgba(34, 117, 138, 0.5), 0 5px 6px rgba(47, 61, 87, 0.5);
}

.section-container {
    padding: 20px;
}

.section-header {
    color: black;
    font-weight: bold;
}

.card-theme {
    background-color: rgb(230, 233, 236);
    border: none;
    border-radius: 2px;
}

.card-header {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: rgb(4, 13, 131);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 12px
}

.card-body-theme{
    background-color: rgb(255, 255, 255);
}

.card {
    display: flex;
    flex-direction: colum;
}